@page "/tipovisas"
@using CurrieTechnologies.Razor.SweetAlert2
@using TramitesVisas.Shared.Entidades
@using TramitesVisas.WEB.Repositories
@using TramitesVisas.WEB.Shared
@inject IRepository Repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager
@attribute [Authorize(Roles = "Admin")]

<h3>TipoVisasIndex</h3>

<div class="card">
    <div class="card-header">
        <span>
            <a class="btn btn-primary btn-sm float-start" href="/tipovisa/create"><i class="bi bi-plus-circle" /> Nueva Tipovisa </a>

        </span>
    </div>
    <div class="card-body">
        <GenericList MyList="TipoVisas">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>Id</b>
                            </td>
                            <td>
                                <b>Tipo de Visa</b>
                            </td>
                            <td>
                                <b>Costo</b>
                            </td>
                            <td>
                                <b>Duracion de La visa</b>
                            </td>
                            <td>
                                <b>Requisitos</b>
                            </td>
                        </tr>
                        @foreach (var tipovisa in TipoVisas!)
                        {
                            <tr>
                                <td>
                                    @tipovisa.Id
                                </td>
                                <td>
                                    @tipovisa.Tipo
                                </td>
                                <td>
                                    @tipovisa.Costo
                                </td>
                                <td>
                                    @tipovisa.Duracion
                                </td>
                                <td>
                                    @tipovisa.Requisitos
                                </td>
                                 <AuthorizeView Roles="Admin">
                                        <Authorized>
                                    <td>
                                    <a href="/tipovisas/edit/@tipovisa.Id" class="btn btn-warning">Editar<i class="bi bi-pencil-square"></i></a>
                                    <button class="btn btn-danger" @onclick=@(() => Delete(tipovisa))>Borrar<i class="bi bi-trash3"></i></button>

                                    </td>
                                    </Authorized>
                                </AuthorizeView>
                            </tr>
                        }
                    </tbody>
                </table>

            </Body>

        </GenericList>
    </div>
</div>
@code {

    public List<TipoVisa> TipoVisas { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Charging();
    }

    private async Task Charging()
    {
        var responseHttp = await Repository.GetAsync<List<TipoVisa>>("/api/tipovisas");
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        TipoVisas = responseHttp.Response;
    }


    private async Task Delete(TipoVisa tipovisa)
    {

        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Realmente deseas eliminar la TipoVisa: {tipovisa.Id}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHTTP = await Repository.DeleteAsync($"/api/tipovisas/{tipovisa.Id}");

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/tipovisas");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Charging();

            var toast = sweetAlertService.Mixin(new SweetAlertOptions
                {
                    Toast = true,
                    ShowConfirmButton = true,
                    Timer = 3000,
                    Position = SweetAlertPosition.BottomEnd
                });
            toast.FireAsync(icon: SweetAlertIcon.Success, message: "TipoVisa borrado con éxito.");
        }
    }
}
