@page "/personas"
@using CurrieTechnologies.Razor.SweetAlert2
@using TramitesVisas.Shared.Entidades
@using TramitesVisas.WEB.Repositories
@using TramitesVisas.WEB.Shared
@inject IRepository Repository
@inject SweetAlertService sweetAlertService
@inject NavigationManager navigationManager


<h3>Clientes</h3>

<div class="card">
    <div class="card-header">
        <span>
            <a class="btn btn-primary btn-sm float-start" href="/register/?IsAdmin=true"><i class="bi bi-plus-circle" /> Nueva Admin </a>


        </span>
    </div>
     <div class="card-body">

        <GenericList MyList="Personas">

            <Body>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <b>Id</b>
                            </td>
                            <td>
                                <b>Documento</b>
                            </td>
                            <td>
                                <b>Nombre</b>
                            </td>
                            <td>
                                <b>Apellido</b>
                            </td>
                            <td>
                                <b>Fecha de Nacimiento</b>
                            </td>
                            <td>
                                <b>Nacionalidad</b>
                            </td>
                            <td>
                                <b>Email</b>
                            </td>
                            <td>
                                <b>Telefono</b>
                            </td>
                        </tr>
                        @foreach (var persona in Personas!)
                        {
                            <tr>
                                <td>
                                    @persona.Id
                                </td>
                                <td>
                                    @persona.Documento
                                </td>
                                <td>
                                    @persona.Nombre
                                </td>
                                <td>
                                    @persona.Apellido
                                </td>
                                <td>
                                    @persona.FechaNacimiento
                                </td>
                                <td>
                                    @persona.Nacionalidad
                                </td>
                                <td>
                                    @persona.Email
                                </td>
                                <td>
                                    @persona.Telefono
                                </td>

                                <td>
                                    <a href="/personas/edit/@persona.Id" class="btn btn-warning">Editar<i class="bi bi-pencil-square"></i></a>
                                    <button class="btn btn-danger" @onclick=@(() => Delete(persona))>Borrar<i class="bi bi-trash3"></i></button>

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>

            </Body>

        </GenericList>
    </div>
</div>


@code {
    private int currentPage = 1;
    private int totalPages;
   

    public List<Persona> Personas { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string Page { get; set; } = string.Empty;

    [Parameter]
    [SupplyParameterFromQuery]
    public string Filter { get; set; } = string.Empty;

    protected async override Task OnInitializedAsync()
    {
        await Charging();
    }

    private async Task Charging(int page = 1)
    {
        if (!string.IsNullOrWhiteSpace(Page))
        {
            page = Convert.ToInt32(Page);
        }

        string url1 = string.Empty;
        string url2 = string.Empty;

        if (string.IsNullOrEmpty(Filter))
        {
            url1 = $"api/personas?page={page}";
            url2 = $"api/personas/totalPages";
        }
        else
        {
            url1 = $"api/personas?page={page}&filter={Filter}";
            url2 = $"api/personas/totalPages?filter={Filter}";
        }

        try
        {
            var responseHppt = await Repository.GetAsync<List<Persona>>(url1);
            var responseHppt2 = await Repository.GetAsync<int>(url2);
            Personas = responseHppt.Response!;
            totalPages = responseHppt2.Response!;
        }
        catch (Exception ex)
        {
            await sweetAlertService.FireAsync("Error", ex.Message, SweetAlertIcon.Error);
        }
    }

    private async Task SelectedPageAsync(int page)
    {
        currentPage = page;
        await Charging(page);
    }


    private async Task Delete(Persona persona)
    {

        var result = await sweetAlertService.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = $"¿Realmente deseas eliminar la Persona: {persona.Nombre}?",
                Icon = SweetAlertIcon.Question,
                ShowCancelButton = true,
                CancelButtonText = "No",
                ConfirmButtonText = "Si"
            });

        var confirm = string.IsNullOrEmpty(result.Value);
        if (confirm)
        {
            return;
        }

        var responseHTTP = await Repository.DeleteAsync($"/api/personas/{persona.Id}"); 

        if (responseHTTP.Error)
        {
            if (responseHTTP.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                navigationManager.NavigateTo("/personas");
            }
            else
            {
                var mensajeError = await responseHTTP.GetErrorMessageAsync();
                await sweetAlertService.FireAsync("Error", mensajeError, SweetAlertIcon.Error);
            }
        }
        else
        {
            await Charging();

            var toast = sweetAlertService.Mixin(new SweetAlertOptions
                {
                    Toast = true,
                    ShowConfirmButton = true,
                    Timer = 3000,
                    Position = SweetAlertPosition.BottomEnd
                });
            toast.FireAsync(icon: SweetAlertIcon.Success, message: "Persona borrado con éxito.");
        }
    }

    private async Task CleanFilterAsync()
    {
        Filter = string.Empty;
        await ApplyFilterAsync();
    }

    private async Task ApplyFilterAsync()
    {
        int page = 1;
        await Charging(page);
        await SelectedPageAsync(page);
    }
}
