@using CurrieTechnologies.Razor.SweetAlert2
﻿@using TramitesVisas.Shared.Entidades
@inject SweetAlertService swal
<EditForm Model="Persona" OnValidSubmit="OnValidSubmit">

    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Documento</label>
        <div>
            <InputText width="10" @bind-Value="@Persona.Documento"></InputText>
            <ValidationMessage For="@(() => @Persona.Documento)" />
        </div>
        <label>Nombre</label>
        <div>
            <InputText width="10" @bind-Value="@Persona.Nombre"></InputText>
            <ValidationMessage For="@(() => @Persona.Nombre)" />
        </div>
        <label>Apellido</label>
        <div>
            <InputText width="10" @bind-Value="@Persona.Apellido"></InputText>
            <ValidationMessage For="@(() => @Persona.Apellido)" />
        </div>
        <label>Fecha de nacimiento</label>
        <div>
            <InputNumber width="10" @bind-Value="@Persona.FechaNacimiento"></InputNumber>
            <ValidationMessage For="@(() => @Persona.FechaNacimiento)" />
        </div>
        <label>Nacionalidad</label>
        <div>
            <InputText width="10" @bind-Value="@Persona.Nacionalidad"></InputText>
            <ValidationMessage For="@(() => @Persona.Nacionalidad)" />
        </div>
        <label>Email</label>
        <div>
            <InputText width="10" @bind-Value="@Persona.Email"></InputText>
            <ValidationMessage For="@(() => @Persona.Email)" />
        </div>
        <label>Telefono</label>
        <div>
            <InputNumber width="10" @bind-Value="@Persona.Telefono"></InputNumber>
            <ValidationMessage For="@(() => @Persona.Telefono)" />
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Guardar <i class="bi bi-floppy2"></i></button>
    <button class="btn btn-info" type="reset">Limpiar <i class="bi bi-x-octagon"></i></button>
    <button class="btn btn-secondary" @onclick="ReturnAction">Regresar <i class="bi bi-arrow-clockwise"></i></button>

</EditForm>
@code {
    private EditContext editContext = null;
    protected override void OnInitialized()
    {
        editContext = new(Persona);
    }

    [EditorRequired]
    [Parameter]
    public Persona Persona { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }

    public bool FormPostedSuccessfully { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormPostedSuccessfully)
        {
            return;
        }

        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }

}